Repository mqcomplab/Fanpy, pull requests merged in 2025-09, with the labels that each got.

#102 fix: unfreeze energy before FanCI steps
  fanpy/fanpt/fanpt.py
Labels: bug, review

#121 Test: solver wrappers
  fanpy/solver/wrappers.py
  setup.py
  tests/test_solver_wrappers.py
Labels: test, review

#132 refactor(hci): split `assign_sds` into `assign_e_s_pairs` + `assign_sds` for clarity and tests
  fanpy/wfn/ci/hci.py
Labels: refactor

#134 tests: add comprehensive unit tests for hCI wavefunction
  tests/test_wfn_ci_hci.py
Labels: test
